header{
    display: flex;
    justify-content: space-between;
    background-color: #9de1f0;
    padding: 10px;
    padding-top: 12px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding-left: 50px;
    padding-right: 50px;
}
img{
    width: 100%;
}
.logo{
    width: 70px;
    margin-top: 5px;
}
.logo:hover{
    cursor: pointer;
}
.b-f-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buscador{
    margin-right: 5px;
    right: 200px;
}
.buscador button{
    position: absolute;
    background-color: #8dcddb;
}
.botones{
    margin-left: 150px;
}
.botones input{
    border: 0;
    background-color: #9de1f0;
    border-radius: 50px;
    font-size: medium;
    font-weight: bold;
}
.botones input:hover{
    background-color: #74b2c0;
    cursor: pointer;
}
input{
    padding: 12px;
}
button{
    padding: 12px;
    border-radius: 50px;
    background-color: #9de1f0;
    border: 0;
    font-size: large;
    height: 42px;
}
button:hover{
    background-color: #74b2c0;
    cursor: pointer;
}
.buscar{
    width: 150px;
    border-radius: 50px;
    border: 0;
    background-color: #8dcddb;
    font-size: medium;
    font-weight: bold;
}
.buscar:hover{
    background-color: #74b2c0;

}
footer{
    background-color: #9de1f0;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    padding: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
footer i{
    margin-right: 5px;
}
video{
    width: 101.5%;
    margin-left: -10px;
    margin-right: -10px;
}